@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lacquer&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
$breakpoint-sm: 600px;
$breakpoint-md: 800px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;

// Mixin for small screens
@mixin sm {
  @media (max-width: $breakpoint-sm) {
    @content;
  }
}

// Mixin for medium screens
@mixin md {
  @media (max-width: $breakpoint-md) {
    @content;
  }
}

// Mixin for large screens
@mixin lg {
  @media (max-width: $breakpoint-lg) {
    @content;
  }
}


// Mixin for extra-large screens
@mixin xl {
  @media (max-width: $breakpoint-xl) {
    @content;
  }
}

@mixin nunito{
  font-family: Nunito;
}
@mixin kanit{
  font-family: Kanit;
}
@mixin lacquer{
  font-family: lacquer;
}
@mixin dosis{
  font-family: dosis;
}


@mixin headings{
  font-size: 33px;
  font-weight: 800;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  margin: 30px 0;
  @include lg{
    font-size: 35px;
  }
  @include md{
    font-size: 30px;
    // font-weight: 600;
    margin: 20px 0 10px 0;
  }
  @include sm{
    font-size: 25px;
  }
}